.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.Group {
  margin-bottom: 0;
  .Group__content:first-child {
    margin-top: 0;
  }
}

.slide {
    background-size: cover;
}